*.smc
*.srm
*.zst
*.exe
*.bin
*/tweak/*
!asm/DefaultSize.bin
!asm/Restore/*.bin
!Graphics for Included Sprites/*.bin
shared.asm
asm/_cleanup.asm
HxD.ini
spr_temp.asm
pixi.zip
LM/*
overworld/**
**/sysLMRestore/**