**/*.smc
*.srm
*.zst
*.exe
**/*.bin
*/tweak/*
!asm/DefaultSize.bin
!asm/Restore/*.bin
!Graphics for Included Sprites/*.bin
!src/CFG Editor/**/*.bin
!src/CFG Editor/**/*.smc
shared.asm
asm/_cleanup.asm
HxD.ini
spr_temp.asm
pixi.zip
LM/*
overworld/**
**/sysLMRestore/**
asm/uninstall.asm
asm/overworld.asm
pixi*.zip
.vscode
*.o
make_modern.bat
pixi
build
.idea
.vs
CMakeSettings.json
StructLayoutSettings.json
pixi.aps
test/*
!test/check_diff.py
!test/zip_pixi_rasp.py
!test/downloader.py
!test/pixi_test.sh
!test/pixi_test.ps1