name: CMake

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:

    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
    
    steps:
    - uses: actions/checkout@v2

    - name: Get branch name
      id: branch-name
      uses: tj-actions/branch-names@v5.2

    - name: Setup compilers
      run:  |
            sudo apt update
            sudo apt install gcc-11 g++-11
      shell: bash
      if: matrix.os == 'ubuntu-latest'

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DPIXI_CI_BUILD=ON
      if: matrix.os != 'ubuntu-latest'
    
    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DPIXI_CI_BUILD=ON
      env:
        CC: gcc-11
        CXX: g++-11
      if: matrix.os == 'ubuntu-latest'

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1
      if: matrix.os == 'windows-latest'
    
    - name: Setup nuget
      uses: actions/setup-dotnet@v1
      if: matrix.os == 'windows-latest'
    
    - name: Build CFG Editor
      shell: powershell
      run: |
        cd "${{github.workspace}}/src/CFG Editor"
        nuget restore "CFG Editor.sln"
        msbuild.exe "CFG Editor.sln" -p:Configuration=Release
        Compress-Archive "${{github.workspace}}/src/CFG Editor/CFG Editor/bin/Release/CFG Editor.exe","${{github.workspace}}/src/CFG Editor/CFG Editor/bin/Release/Newtonsoft.Json.dll" ${{github.workspace}}/cfgeditor.zip
      if: matrix.os == 'windows-latest'
        
    - name: Setup python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Create pixi.zip release
      run: python ${{github.workspace}}/zip.py

    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: pixi_${{matrix.os}}
        path: ${{github.workspace}}/pixi.zip
    
  test:

    runs-on: ${{ matrix.os }}

    if: "!startsWith(github.event.head_commit.message, '[NoTest]')"

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v3

      - name: Download build artifact
        id: download
        uses: actions/download-artifact@v3.0.0
        with:
          name: pixi_${{matrix.os}}
          path: ${{github.workspace}}/pixi.zip
      
      - name: Echo artifact path
        run: echo ${{steps.download.outputs.download-path}}

      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install beautifulsoup4 requests

      - name: Test (linux)
        working-directory: ${{github.workspace}}/test
        shell: bash
        run: bash pixi_test.sh ${{steps.branch-name.outputs.current_branch}} remote
        env:
          CC: gcc-11
          CXX: g++-11
        env:
          ARTIFACT_PATH: ${{steps.download.outputs.download-path}}
        if: matrix.os == 'ubuntu-latest'

      - name: Test (windows)
        working-directory: ${{github.workspace}}/test
        shell: pwsh
        run: |
          choco upgrade mingw
          Set-Alias py python
          ./pixi_test.ps1 ${{steps.branch-name.outputs.current_branch}} remote
        env:
          ARTIFACT_PATH: ${{steps.download.outputs.download-path}}
        if: matrix.os == 'windows-latest'

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: test-result-${{matrix.os}}
          path: ${{github.workspace}}/test/results.zip
        if: matrix.os != 'macos-latest'

